# ================================
# Python
# ================================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/
.conda/

# ================================
# IDE / Editor
# ================================
.vscode/
.idea/

# ================================
# OS files
# ================================
.DS_Store
Thumbs.db

# ================================
# Logs & temp
# ================================
*.log
*.tmp

# ================================
# Build / distribution
# ================================
build/
dist/
*.egg-info/
